:host {
	::ng-deep {
		.ui-panel .ui-panel-content {
			border: 0;
		}

		.ui-panel-titlebar {
			display: none !important;
		}

		.ui-panel {
			margin-left: 10px;
			margin-right: 10px;
		}

		.ui-toolbar {
			margin-bottom: 0.3em;
			padding: 0.371em 0.25em;
		}

		.ui-button {
			margin: 0 0.25em;
		}

		.ui-paginator .ui-dropdown {
			margin-left: 0;
			.ui-dropdown-trigger {
				border: 0;
			}
		}

		.ui-paginator .ui-paginator-page,
		.ui-paginator .ui-paginator-pages,
		.ui-paginator .ui-paginator-next,
		.ui-paginator .ui-paginator-last,
		.ui-paginator .ui-paginator-first,
		.ui-paginator .ui-paginator-prev,
		.ui-paginator .ui-paginator-current {
			background-color: #f4f4f4;
		}
	}
}
