<p-toolbar styleClass="ggm-ui-toolbar sticky">
	<div class="ui-toolbar-group-left">
		<p-button label="Ticket Combo" icon="ui-icon-add" [routerLink]="['../create-combo']"></p-button>
		<p-button label="Delete" icon="ui-icon-delete-forever" (onClick)="delete()"></p-button>
	</div>

	<div class="ui-toolbar-group-right">
		<input type="search" pInputText size="40" placeholder="Keyword" height="30"
			(input)="tableContent.filterGlobal($event.target.value, 'contains')">
		<p-button icon="fa fa-search"></p-button>
	</div>
</p-toolbar>
<p-card styleClass="card card-w-title">
	<p-table
		[resizableColumns]="true"
		[columns]="cols"
		[value]="dataTable"
		[paginator]="true"
		[rows]="5"
		(onLazyLoad)="loadDataLazily($event)" [lazy]="true"
		[(selection)]="selectedItems"
		selectionMode="multiple"
		[loading]="loading" loadingIcon="fas fa-spinner"
		[totalRecords]="totalRecords"
		[rowsPerPageOptions]="[5,10,20,30,40]"
		#tableContent>

		<ng-template pTemplate="header" let-columns>
			<tr>
				<th style="width: 3em">
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</th>
				<th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
					{{col.header | uppercase}}
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
				<th>DELETE</th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr>
				<td style="text-align:center;">
					<p-tableCheckbox [value]="rowData"></p-tableCheckbox>
				</td>
				
				<td *ngFor="let col of columns" class="ui-resizable-column">
					<a *ngIf="col.field=='price'" routerLink="../detail/{{rowData[idField]}}">{{rowData[col.field] | number}}</a>
					<a *ngIf="col.field!='price'"routerLink="../detail/{{rowData[idField]}}">{{rowData[col.field]}}</a>
				</td>

				<td style="text-align: center">
					<p-button icon="ui-icon-delete-forever" (onClick)="delete(rowData[idField])" styleClass="ggm-button-hover">
					</p-button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</p-card>
